# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxtarget_platformosx-64
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxtarget_platformosx-64

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "F1g+bImjStJTKXeobkAImqtFAm1M7WR+1LVqr4WZdDDW3GdCJPnAd+z9wrVHqHJPEdI9L75coUC2XHUSuxhLqT6FKOaVuZRybju885joelOtD5xxg9WOhPcAMGpGhlquIMl/0BZUkgfDIR3ksRITTtubELsNTSP9B4PO/OE8s5arBT7TpqUQQkzguvLCe0lAgOoLCdzTCh8Rb/xpDAW5gLTY+l7MgEtO+w7mW9A6SRU0AP6ckeGzvwDBdwxtKLJv2+bWzTn0/Xce27wEzRIh80Pt2d7T7TOTUgz5x3xvgzye+3rPN1wcqvhaLMY22Bp+vR/5JqfjnHTXE/5pysO7Q8uzA4IW7Yv/mQj7QMcdCnJ6JZZjbYzVq7IuMK9MNXDL61/k8e/7UTbAO8Rh7cImVEZMaYS4v8j08EAh3W73ZCfqxM6xI+J7tosONty8OQJWmJP/mppbL0mddadFvr5Q/kptWRnSZwGr7T+olyaYcTSiNv8hcrB/JnBkl7ns1kl9BiUBDBSghPagyR+znbLGKpQtp4kvHsM4SXCF9B87lBxUs/hGQqAm/+tQwwE3pvMYFsc5wOwPqE/25aN7aM37kj+AVLWza/e/18CQvQ+3dSlphuETZVDqh/93sQtF+OEcLXIK7UvNnPZZcERABxSnq/wMKpsW7bnW4VeQvHgtK80="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
